{% extends "_base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

{% load static %}

<h1 class="text-black text-lg underline text-center mt-4" style="font-family: 'Prompt', sans-serif;">
    อาหารพื้นเมืองที่มีสรรพคุณต่อสุขภาพตามวิถีภูมิปัญญาท้องถิ่นของจังหวัดอุบลราชธานี
</h1> 

<div class="mt-8 flex justify-center">
    <div class="max-w-sm text-center">
        <img alt="" src="{% static 'img/card-07.jpg' %}" class="h-36 w-36 rounded-full object-cover mx-auto" />
        <div class="px-4 py-4">
            <h3 class="text-xl mb-2 font-mitr">อู๋หน่อไม้พุงปลา</h3>
            <p class="text-gray-700 text-base font-sarabun" style="font-family: 'Sarabun', sans-serif;">
                เป็นอาหารพื้นเมืองที่มีสรรพคุณต่อสุขภาพ ตามวิถีภูมิปัญญาท้องถิ่น ของจังหวัดอุบลราชธานี ที่ได้สืบทอดกันมารุ่นต่อรุ่น มีความโดดเด่นและมีความเป็นเอกลักษณ์ของจังหวัดอุบลราชธานี อุ๋เป็นอาหารพื้นเมืองที่มีลักษณะคล้ายแกงอ่อม แต่วิธีการทำจะใส่น้ำในปริมาณที่น้อยกว่า ส่วนใหญ่นิยมทำกับพุงปลา โดยใช้พุงปลา ซึ่งเป็นปลาธรรมชาติจากลุ่มแม่น้ำโขง เนื้อปลามีคุณค่าทางโภชนาการ อุดมไปด้วยโปรตีนสูง ไขมันต่ำ และจำเป็นต่อร่างกาย 
            </p>
            <div class="py-4">
                <a href="pic1" class="bg-gray-500 hover:bg-blue-700 text-white py-2 px-4 font-sarabun rounded" style="font-family: 'Sarabun', sans-serif;">
                    เรียนรู้เพิ่มเติม »
                </a>
            </div>
        </div>
    </div>
    <div class="max-w-sm text-center">
        <img alt="" src="{% static 'img/card-05.jpg' %}" class="h-36 w-36 rounded-full object-cover mx-auto" />
        <div class="px-4 py-4">
            <h3 class="text-xl mb-2 font-mitr">แกงเห็ดเผาะไข่มดแดง</h3>
            <p class="text-gray-700 text-base font-sarabun" style="font-family: 'Sarabun', sans-serif;">
                เป็นอาหารพื้นเมืองที่มีสรรพคุณต่อสุขภาพ ตามวิถีภูมิปัญญาท้องถิ่น ของจังหวัดอุบลราชธานี ที่ได้สืบทอดกันมารุ่นต่อรุ่น โดยการนำเอาทรัพยากรชีวภาพที่มีอยู่ในท้องถิ่นมาปรุงเป็นอาหารพื้นเมือง ที่มีรสชาติกลมกล่อม เป็นอาหารที่ให้คุณค่าทางโภชนาการ เห็ดเผาะมีโปรตีนและแร่ธาตุต่างๆและสรรพคุณทางยาให้ประโยชน์ช่วยบำรุงร่างกาย ลดอาการร้อนใน เนื่องจากมีฤทธิ์เย็น แก้ช้ำใน แก้ไข้ตัวร้อน ช่วยสมานแผล ลดอาการอักเสบและบวม ช่วยทำให้เลือดแข็งตัวได้เร็วขึ้น บรรเทาอาการคันตามร่างกาย 
            </p>
            <div class="py-4">
                <a href="pic2" class="bg-gray-500 hover:bg-blue-700 text-white py-2 px-4 font-sarabun rounded" style="font-family: 'Sarabun', sans-serif;">
                    เรียนรู้เพิ่มเติม »
                </a>
            </div>
        </div>
    </div>
    <div class="max-w-sm text-center">
        <img alt="" src="{% static 'img/card-08.jpg' %}" class="h-36 w-36 rounded-full object-cover mx-auto" />
        <div class="px-4 py-4">
            <h3 class="text-xl mb-2 font-mitr">ลาบปลาคัง</h3>
            <p class="text-gray-700 text-base font-sarabun" style="font-family: 'Sarabun', sans-serif;">
                เป็นอาหารพื้นเมืองที่มีสรรพคุณต่อสุขภาพ ตามวิถีภูมิปัญญาท้องถิ่น ของจังหวัดอุบลราชธานี ที่ได้สืบทอดกันมารุ่นต่อรุ่น มีความโดดเด่นและมีความเป็นเอกลักษณ์ของจังหวัดอุบลราชธานี เป็นต้นตำรับเมนูสมุนไพรโบราณที่มีมาช้านานทั้งในเรื่องของรสชาติที่กลมกล่อม เครื่องปรุงล้วนเป็นสมุนไพรจากธรรมชาติ มีคุณค่าทางสมุนไพรสูง
            </p>
            <div class="py-4">
                <a href="pic3" class="bg-gray-500 hover:bg-blue-700 text-white py-2 px-4 font-sarabun rounded" style="font-family: 'Sarabun', sans-serif;">
                    เรียนรู้เพิ่มเติม »
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}