{% extends "_base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

{% load static %}

<div class="w-[360px] border-4 border[#1a237e] mx-auto overflow-hidden bg-white rounded-lg shadow-lg">
  <div class="w-[350px] border-4 border[#5c6bc0] mx-auto overflow-hidden bg-white rounded-lg shadow-lg">
    <div class="w-[340px] border-4 border-[#7986cb] mx-auto overflow-hidden bg-white rounded-lg shadow-lg">
      <div class="w-[330px] border-4 border-[#9fa8da] mx-auto overflow-hidden bg-white rounded-lg shadow-lg">
        <div class="w-[320px] border-4 border-[#c5cae9] mx-auto overflow-hidden bg-white rounded-lg shadow-lg">
            <div class="relative">
              <img class="w-[320px] h-[320px] object-cover" src="{% static 'img/patimakorn.jpg' %}" alt="Profile Image">
            </div>
            <div class="px-6 py-4">
              <div class="text-xl text-gray-800">นายปฏิมากร ศรีจันทร์</div>
              <p class="text-gray-600">กระผมนักศึกษา ICT ปี2 ที่หลงรักในการฟังเพลง ไม่ว่าจะเป็นแนวอินดี้ร็อก โพสต์-พังค์ รีไววัล อาร์แอนด์บี ไทยร็อก เพลงอีสาน และชอบวิชาอังกฤษมากว่าวิชาเอกตัวเอง </p>
            </div>
            <div class="px-6 py-4">
              <span class="inline-block px-2 py-1 text-slate-900 bg-[#0051ff] rounded">English</span>
              <span class="inline-block px-2 py-1 text-slate-900 bg-[#00FFFF] rounded">Web</span>
              <span class="inline-block px-2 py-1 text-slate-900 bg-[#ff6f00] rounded">UI/UX</span>
              <span class="inline-block px-2 py-1 text-slate-900 bg-[#55ff00] rounded">Design</span>
              <span class="inline-block mt-2 px-2 py-1 text-slate-900 bg-[#ff1700] rounded">It support</span>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}